html > body > header
{ 
	z-index : 999;
	position: absolute;	
	text-align : center;
	color: white;
	height : 60%;
}
.MenuItem
{
	margin-bottom: 0.2em;
	background-color : green;
}
html > body > header > nav > div#Help,
html > body > header > nav > div#View
{
	margin-top: 4em;
}
html > body > header > nav > div#Download
{
	margin-top: 3em;
	padding: 0.8em;
	background-color : black;
}
html > body > header > nav > div > a
{
	display: block;
	width: 8em;
	padding: 0.8em;
	color: white;
	background-color : green;
	text-decoration : none;
}
html > body > header > nav > div > a:hover
{
	background-color: darkred;
}
html > body > div#Map	
{
	background-color : gray;
	position: absolute;	
	width: 70%; 
	height: 100%; 
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	left: 0px;
}
html > body > div#Text	
{
	color: white;
	background-color : black;
	position: absolute;	
	width: auto; 
	height: 95%; 
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	left: 70%;
	padding: 1em;
	overflow: scroll;
}
html > body > div#Text > form#options
{
	border-style: solid;
	border-width: 1px;
	padding: 1em;
}
html > body > div#Text > form#options > p > input#graphHopperKey,
html > body > div#Text > form#options > p > input#mapzenKey,
html > body > div#Text > form#options > p > input#mapboxKey
{
	width: 100%;
}
html > body > div#Text > form#options > p
{
	text-align: center;
}
html > body > div#Text > form#options > p > input#saveKeys
{
	color: white;
	background-color: darkred;
	border-style: solidborderwidth: 1px;
	border-radius: 10px;
	padding: 5px;
}
html > body > div#Text > form#options > p > input#saveKeys:hover
{
	color: black;
	background-color: darkgray;
	transition: background-color 1s;

}
html > body > div#Text > p > a
{
	color: #999999;
}
html > body > div#Text > p > a:hover
{
	color: darkred;
}
