/* contextmenu */
.PolylineMenu .leaflet-popup-content
{
	margin: 1px;
}
.PolylineMenu > div
{
	background-color: rgb(240,240,240);
	border-style: solid;
	border-radius: 0;
	border-width : 1px;
	z-index: 9999;
}
.PolylineMenu-EditPinButton,
.PolylineMenu-DeletePinButton,
.PolylineMenu-CancelPinButton
{
	text-align: center;
	width: 150px;
	display: block;
	border-style: solid;
	border-top-color: lightgray;
	border-left-color: lightgray;
	border-bottom-color: darkgray;
	border-right-color: darkgray;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width : 1px;
	border-right-width : 1px;
	padding-top: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-right: 2px; 
	margin-bottom: 3px;
	background: linear-gradient(lightgray, white);
}
.PolylineMenu-EditPinButton:hover,
.PolylineMenu-DeletePinButton:hover,
.PolylineMenu-CancelPinButton:hover
{
	color:	black;
	border-color: black;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width : 2px;
	border-right-width : 2px;
	padding-top: 2px;
	padding-left: 2px;
	padding-bottom: 1px;
	padding-right: 1px; 
	background: linear-gradient(white,lightgray);
}
.PolylineMenu > div.leaflet-popup-tip-container
{
	visibility: hidden;
}

/* dialog */
.cyPolylineDialog > div
{
	background-color: rgb(240,240,240);
	border-radius: 0;
	border-style: solid;
	border-width : 1px;
	z-index: 9999;
	width: 20em;
}
.cyPolylineDialog > div.leaflet-popup-tip-container
{
	visibility: hidden;
}
.cyPolylineDialogInputDiv
{
	border-style: solid;
	border-width : 1px;
}
div.cyPolylineDialogInputDiv > div
{
	text-align: center;
	padding: 1em;
	font-weight: normal;
	font-size: medium;
}
div.cyPolylineDialogInputDiv > div > input
{
	width: 4em;
}
.cyPolylineDialogButtonsDiv
{
	text-align: center;
	margin: 1em;
}
.cyPolylineDialogOkButton,
.cyPolylineDialogCancelButton
{
	width: 6em;
}
a#downloadGpx
{
	display: inline;
	text-decoration: none;
	border-bottom-style: none;
}
a#downloadGpx:hover
{
	background-color: white;
}
.lrm-extensions-ServicesButton,
.lrm-extensions-Label
{
	background-repeat : no-repeat;
	height: 30px;
	width: 30px;
    display: inline-block;
	border-style: solid;
	border-top-width : 1px;
	border-left-width : 1px;
	border-bottom-width : 3px;
	border-right-width : 3px;
	border-color : gainsboro;
	padding: 1px;
	margin: 3px;
	border-radius: 3px;
}
.lrm-extensions-Label:hover,
.lrm-extensions-ServicesButton:hover
{
	border-color : black;
}
.lrm-extensions-Label:active,
.lrm-extensions-ServicesButton:active
{
	border-top-width : 3px;
	border-left-width : 3px;
	border-bottom-width : 1px;
	border-right-width : 1px;
	border-color : black;
}
#lrm-extensions-BikeButton
{
	display: none;
}
#lrm-extensions-BikeButton:checked + label
{
	background-image : url('lrm-extensions.img/control/Bike.png');
}
#lrm-extensions-BikeLabel
{
	background-image : url('lrm-extensions.img/control/NoBike.png');
}
#lrm-extensions-PedestrianButton
{
	display: none;
}
#lrm-extensions-PedestrianButton:checked + label
{
	background-image : url('lrm-extensions.img/control/Pedestrian.png');
}
#lrm-extensions-PedestrianLabel
{
	background-image : url('lrm-extensions.img/control/NoPedestrian.png');
}
#lrm-extensions-CarButton
{
	display: none;
}
#lrm-extensions-CarButton:checked + label
{
	background-image : url('lrm-extensions.img/control/Car.png');
}
#lrm-extensions-CarLabel
{
	background-image : url('lrm-extensions.img/control/NoCar.png');
}
#lrm-extensions-GraphHopperButton
{
	display: none;
}
#lrm-extensions-GraphHopperButton:checked + label
{
	background-image : url('lrm-extensions.img/control/GraphHopper.png');
}
#lrm-extensions-GraphHopperLabel
{
	background-image : url('lrm-extensions.img/control/NoGraphHopper.png');
}
#lrm-extensions-MapzenButton
{
	display: none;
}
#lrm-extensions-MapzenButton:checked + label
{
	background-image : url('lrm-extensions.img/control/Mapzen.png');
}
#lrm-extensions-MapzenLabel
{
	background-image : url('lrm-extensions.img/control/NoMapzen.png');
}
#lrm-extensions-MapboxButton
{
	display: none;
}
#lrm-extensions-MapboxButton:checked + label
{
	background-image : url('lrm-extensions.img/control/Mapbox.png');
}
#lrm-extensions-MapboxLabel
{
	background-image : url('lrm-extensions.img/control/NoMapbox.png');
}
#lrm-extensions-GpxButton
{
	background-image : url('lrm-extensions.img/control/gpx.png');
}
#lrm-extensions-RouteToLineButton
{
	background-image : url('lrm-extensions.img/control/polyline.png');
}
.leaflet-routing-icon {
    -webkit-background-size: 20px 20px !important;
    background-size: 20px 20px !important;
    background-repeat: no-repeat !important;
    margin: 0 !important;
    content: '' !important;
    display: inline-block !important;
    vertical-align: top !important;
    width: 20px !important;
    height: 20px !important;
}

.leaflet-routing-icon-kNone 
{ 
	background-image : url('lrm-extensions.img/control/kNone.png');
}
.leaflet-routing-icon-kStart 
{ 
	background-image : url('lrm-extensions.img/control/kStart.png');
}
.leaflet-routing-icon-kStartRight 
{ 
	background-image : url('lrm-extensions.img/control/kStartRight.png');
}
.leaflet-routing-icon-kStartLeft 
{
	background-image : url('lrm-extensions.img/control/kStartLeft.png');
}
.leaflet-routing-icon-kDestination 
{ 
	background-image : url('lrm-extensions.img/control/kDestination.png');
}
.leaflet-routing-icon-kDestinationRight 
{ 
	background-image : url('lrm-extensions.img/control/lrm-mapzen-icons.png');
}
.leaflet-routing-icon-kDestinationLeft 
{ 
	background-image : url('lrm-extensions.img/control/kDestinationLeft.png');
}
.leaflet-routing-icon-kBecomes 
{ 
	background-image : url('lrm-extensions.img/control/kBecomes.png');
}
.leaflet-routing-icon-kContinue 
{ 
	background-image : url('lrm-extensions.img/control/kContinue.png');
}
.leaflet-routing-icon-kSlightRight 
{ 
	background-image : url('lrm-extensions.img/control/kSlightRight.png');
}
.leaflet-routing-icon-kRight 
{ 
	background-image : url('lrm-extensions.img/control/kRight.png');
}
.leaflet-routing-icon-kSharpRight 
{ 
	background-image : url('lrm-extensions.img/control/kSharpRight.png');
}
.leaflet-routing-icon-kUturnRight 
{ 
	background-image : url('lrm-extensions.img/control/kUturnRight.png');
}
.leaflet-routing-icon-kUturnLeft 
{ 
	background-image : url('lrm-extensions.img/control/kUturnLeft.png');
}
.leaflet-routing-icon-kSharpLeft 
{ 
	background-image : url('lrm-extensions.img/control/kSharpLeft.png');
}
.leaflet-routing-icon-kLeft 
{ 
	background-image : url('lrm-extensions.img/control/kLeft.png');
}
.leaflet-routing-icon-kSlightLeft 
{ 
	background-image : url('lrm-extensions.img/control/kSlightLeft.png');
}
.leaflet-routing-icon-kRampStraight 
{ 
	background-image : url('lrm-extensions.img/control/kRampStraight .png');
}
.leaflet-routing-icon-kRampRight 
{ 
	background-image : url('lrm-extensions.img/control/kRampRight.png');
}
.leaflet-routing-icon-kRampLeft 
{ 
	background-image : url('lrm-extensions.img/control/kRampLeft.png');
}
.leaflet-routing-icon-kExitRight 
{ 
	background-image : url('lrm-extensions.img/control/kExitRight.png');
}
.leaflet-routing-icon-kExitLeft 
{ 
	background-image : url('lrm-extensions.img/control/kExitLeft.png');
}
.leaflet-routing-icon-kStayStraight 
{ 
	background-image : url('lrm-extensions.img/control/kStayStraight.png');
}
.leaflet-routing-icon-kStayRight 
{ 
	background-image : url('lrm-extensions.img/control/kStayRight.png');
}
.leaflet-routing-icon-kStayLeft 
{ 
	background-image : url('lrm-extensions.img/control/kStayLeft.png');
}
.leaflet-routing-icon-kMerge 
{ 
	background-image : url('lrm-extensions.img/control/kMerge.png');
}
.leaflet-routing-icon-kRoundaboutEnter 
{ 
	background-image : url('lrm-extensions.img/control/kRoundaboutEnter.png');
}
.leaflet-routing-icon-kRoundaboutExit 
{ 
	background-image : url('lrm-extensions.img/control/kRoundaboutExit.png');
}
.leaflet-routing-icon-kFerryEnter 
{ 
	background-image : url('lrm-extensions.img/control/kFerryEnter.png');
}
.leaflet-routing-icon-kFerryExit 
{ 
	background-image : url('lrm-extensions.img/control/kFerryExit.png');
}
.leaflet-routing-icon-kTransitBus 
{ 
	background-image : url('lrm-extensions.img/control/kTransitBus.png');
}
.leaflet-routing-icon-kTransitCable_car 
{ 
	background-image : url('lrm-extensions.img/control/kTransitCable_car.png');
}
.leaflet-routing-icon-kTransitFerry 
{ 
	background-image : url('lrm-extensions.img/control/kTransitFerry.png');
}
.leaflet-routing-icon-kTransitFunicular 
{ 
	background-image : url('lrm-extensions.img/control/kTransitFunicular.png');
}
.leaflet-routing-icon-kTransitGondola 
{ 
	background-image : url('lrm-extensions.img/control/kTransitFunicular.png');
}
.leaflet-routing-icon-kTransitMetro 
{ 
	background-image : url('lrm-extensions.img/control/kTransitMetro.png');
}
.leaflet-routing-icon-kTransitRail 
{ 
	background-image : url('lrm-extensions.img/control/kTransitRail.png');
}
.leaflet-routing-icon-kTransitTram 
{ 
	background-image : url('lrm-extensions.img/control/kTransitTram.png');
}
.leaflet-routing-icon-continue         
{
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kContinue.png') !important;
}
.leaflet-routing-icon-sharp-right
{
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kSharpRight.png') !important;
}
.leaflet-routing-icon-turn-right       
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kRight.png') !important;
}
.leaflet-routing-icon-bear-right       
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kSlightRight.png') !important;
}
.leaflet-routing-icon-u-turn           
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kUturnLeft.png') !important;
}
.leaflet-routing-icon-sharp-left       
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kSharpLeft.png') !important;
}
.leaflet-routing-icon-turn-left        
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kLeft.png') !important;
}
.leaflet-routing-icon-bear-left        
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kSlightLeft.png') !important;
}
.leaflet-routing-icon-depart 
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kStart.png') !important;
}
.leaflet-routing-icon-enter-roundabout 
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kRoundaboutEnter.png') !important;
}
.leaflet-routing-icon-arrive           
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kDestination.png') !important;
}
.leaflet-routing-icon-via              
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kVia.png') !important;
}
.leaflet-routing-icon-undefined              
{ 
	background-position: 0px 0px !important;
	background-image : url('lrm-extensions.img/control/kUndefined.png') !important;
}
